# .gitignore
node_modules/
*/.env
*/ushh.js
tests/
backend/tests/
backend/coverage/
# .env
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=password
DB_NAME=database

# .env.example
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=password
DB_NAME=database
